<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One-To-One Chat</title>
    <link rel="stylesheet" href="/static/css/one_to_one_chat.css">

</head>
<body>
    <div id="chat-container">
        <h1>One-To-One Chat</h1>
        <div id="message_to_one">
        </div>
        <div id="input-container_to_one">
            <input type="text" id="messageInputToOne" placeholder="Type your message...">
            <button onclick="sendMessageToOne()">Send</button>
        </div>
    </div>
    <script src="/static/js/one_to_one_chat.js"></script>
</body>
</html>
